default:
    site:
        # Standard Site Configuration
        url: http://doc.nuxeo.com
        name: Nuxeo Documentation
        twitter: nuxeo

        # For RSS feeds
        title: 'Nuxeo Documentation'
        author: 'Nuxeo'
        review_messages:
            overdue: This page needs to be reviewed
            invalid_date: Invalid Review Date
            not_set: Review Date Not Set
        remove_files_pattern:
            - '.DS_Store'
            - '**.DS_Store'

        # Keys
        cse_id: "005135669674242188188:xu8ybnpu3r8"
        ga_exp_id: ''
        ga_id: 'UA-81135-3'
        segment_write_key: "4qquvje3fv"
    page_defaults:
        -
            pattern: "**/*.md"
            defaults:
                layout: 'default.hbs'
    markdown_options:
        langPrefix : ''
        breaks     : false
        gfm        : true
        pedantic   : false
        sanitize   : false
        smartLists : true
        smartypants: false
        tables     : true
    repositories:
        static:
            url: git@github.com:nuxeo/doc.nuxeo.com-static-spaces.git
            branches:
                - master
        platform:
            url: git@github.com:nuxeo/doc.nuxeo.com-platform-spaces.git
            branches:
                - master
                - '710'
                - '60'
                - '58'

development:
    isDev: true
    site:
        ga_exp_id: ''
        ga_id: ''
        segment_write_key: ''
