<ul class="accordion" data-accordion data-accordion-item data-allow-all-closed="true">
    <li class="accordion-item {{#unless closed}}is-active{{/unless}}">
        <a href="#" class="accordion-title">{{heading}}</a>
        <div class="accordion-content" data-tab-content>
            {{#md}}{{> @partial-block }}{{/md}}
        </div>
    </li>
</ul>
