{{#if (condition type '===' 'code')}}
{{#if heading}}<div class="code-heading">{{heading}}</div>{{/if}}
{{> @partial-block }}
{{else}}
<div class="callout {{type}} nuxeo">{{#if heading}}<div class="heading">{{heading}}</div>{{/if}}<div>{{> @partial-block }}</div></div>
{{/if}}
