{{#if (condition review.status '&&' (condition review.status '!==' 'ok'))}}
    <div class="callout {{#if (condition review.status '===' 'requiresUpdates')}}info{{else}}warning{{/if}} nuxeo">
        <i class="fa fa-{{#if (condition review.status '===' 'requiresUpdates')}}info-circle{{else}}exclamation-triangle{{/if}}"></i> {{{md review.comment}}}
    </div>
{{/if}}