</div>
<div id="docs_footer" class="row expanded">
  {{> versions_inline}}

  <nx-footer showlicense {{#unless homepage}}nolinks{{/unless}}></nx-footer>
</div>

<script type="text/javascript" src="/{{js.vendor}}"></script>
<script type="text/javascript" src="/{{js.docs}}"></script>

{{#if script}}
<script type="text/javascript" src="/{{obj_key js script}}"></script>
{{/if}}
