<div class="column space-1">
  <a href="{{url}}" class="text-center item-label is-black">
    <div>
      <img alt="{{lang}} language" src="/assets/imgs/icons/{{lang}}.png" width="70" height="70">
    </div>
    {{lang}}
  </a>
</div>
