<div class="small reveal" id="page-information" data-reveal data-animation-in="slide-in-right" data-animation-out="slide-out-right">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="content">
    <div id="page-information-tags" class="column {{!-- #if toc}}large-8 end{{/if --}}">
      {{#each labels as |label|}}
      <a href="/{{../url.key.space_path}}/label/{{sluggy label}}">{{label}}</a>{{#unless @last}}, {{/unless}}
      {{/each}}
    </div>
  </div>
</div>
