<div id="side-menu" data-space="{{space}}">
</div>
{{!--
    {{!> menu_item children=hierarchy. }}
<div id="side-menu">
<ul class="menu vertical">
    <li>
        <a href="/nxdoc/desktop-and-mobile/"><button><i class="fa fa-fw fa-chevron-right fa-rotate-90" aria-hidden="true"></i> </button>Desktop and Mobile</a>
        <ul class="menu vertical nested">
            <li>
                <a href="/nxdoc/nuxeo-drive/"><button><i class="fa fa-fw fa-chevron-right fa-rotate-90" aria-hidden="true"></i> </button>Nuxeo Drive</a>
                <ul class="menu vertical nested">
                    <li>
                        <a href="/nxdoc/how-to-customize-nuxeo-drive-versioning-policy/">How to Customize Nuxeo Drive Versioning Policy</a>
                    </li>
                    <li>
                        <a href="/nxdoc/how-to-customize-the-drive-metadata-edit-layouts/">How to Customize the Drive Metadata Edit Layouts</a>
                    </li>
                    <li>
                        <a href="/nxdoc/how-to-manually-initialize-or-deploy-a-nuxeo-drive-instance/">How to Manually Initialize or Deploy a Nuxeo Drive Instance</a>
                    </li>
                    <li>
                        <a href="/nxdoc/nuxeo-drive-update-site/">Nuxeo Drive Update Site</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/nxdoc/nuxeo-mobile/">Nuxeo Mobile</a>
            </li>
        </ul>
    </li>
</ul>
</div>

---
    <li class="">
        <a href="#">Desktop/Mobile</a>
        <ul class="menu nested vertical">
            <li><a href="#">Drive</a></li>
            <li><a href="#">Mobile</a></li>
        </ul>
    </li>
    <li class="">
        <a href="#">Nuxeo Packages </a>
        <ul class="menu nested vertical">
            <li><a href="#">Nuxeo Package Installation</a></li>
            <li><a href="#">Creating your Own Nuxeo Package</a></li>
            <li><a href="#">Available Add-ons</a></li>
        </ul>
    </li>
    <li class="">
        <a href="#">Client SDK</a>
        <ul class="menu nested vertical">
            <li><a href="#">Java</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </li>
    <li class="">
        <a href="#">Studio</a>
    </li>
    <li>
        <a href="#">Tools</a>
        <ul class="menu nested vertical">
            <li><a href="#">Continuous Integration</a></li>
            <li><a href="#">Benchmarking</a></li>
            <li><a href="#">Monitor</a></li>
            <li><a href="#">Nuxeo IDE</a></li>
        </ul>
    </li>--}}
