{{#if url.versions}}
<div id="page-versions">
  <ul class="dropdown menu" data-dropdown-menu>
    <li class="menu-title"><span>Version</span></li>
    <li>
      {{#each url.versions}}
      {{#if this.is_current_version}}
      <a href="#">{{this.label}}</a>
      {{/if}}
      {{/each}}
      <ul class="menu">
        {{#each url.versions}}
        {{#unless this.no_page}}
        <li><a href="{{this.url}}" {{#if this.is_current_version}}class="active"{{/if}}>{{this.label}}</a></li>
        {{/unless}}
        {{/each}}
      </ul>
    </li>
  </ul>
</div>
{{/if}}
