{{#if url.versions}}
<div id="versions-inline" class="row expanded">
    <ul class="menu">
        <li class="label">Documentation versions <span class="vertical-bar"></span></li>
        {{#each url.versions}}
        {{#unless this.no_page}}
        <li><a href="{{this.url}}" class="{{#if this.is_current_version}}active{{/if}}">{{this.label}}</a></li>
        {{/unless}}
        {{/each}}
    </ul>
</div>
{{/if}}
