{{#if url.versions}}
<div id="page-versions">
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            {{#each url.versions}}
            {{#if this.is_current_version}}
            <a href="#">
                Version: <span class="version-label">{{this.label}}</span> <i class="fa fa-caret-down"></i>
            </a>
            {{/if}}
            {{/each}}
            <ul class="menu">
                {{#each url.versions}}
                {{#unless this.no_page}}
                {{#if (conditional this.label '!==' 'none')}}
                <li{{#if this.menu_separator}} class="separator"{{/if}}><a href="{{this.url}}"{{#if this.is_current_version}} class="active"{{/if}}>{{this.label}}</a></li>
                {{/if}}
                {{/unless}}
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
{{/if}}
