@import 'settings';
@import 'foundation';

// Nuxeo Fonts
@import 'components/nuxeo_fonts';

@include foundation-global-styles;
@include foundation-forms;
// @include foundation-menu;
@include foundation-menu-icon;
// @include foundation-title-bar;
// @include foundation-top-bar;
@import 'font-awesome';

$nuxeo-color-blue: #1585cf;
$nuxeo-color-gray: #333;
$nuxeo-satellite-dark-bg: #000522;

html {
  box-sizing: border-box;
}

// Default body styles
body {
  margin: 0;
  padding: 0;
}

// To prevent FOUC
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

#nuxeo-satellite-header {
  // @include foundation-global-styles;

  background: $body-background;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $global-font-size;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;

  // Set box-sizing globally to handle padding and border widths
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @if ($body-antialiased) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // Custom styling
  a {
    text-decoration: none;
  }

  @include breakpoint(small only) {
    .nuxeo-satellite-header {
      display: none;
    }
  }
  @media (max-width: 850px) {
    .nuxeo-satellite-header > .nuxeo-satellite-right-menu {
      display: none;
    }
  }

  .nuxeo-satellite-header {
    background-color: $white;
    height: 50px;
  }

  .expanded {
    width: 100%;
  }

  .nuxeo-satellite-logo {
    margin: 18px 20px;
    width: 80px;
  }

  .nuxeo-satellite-icon {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nuxeo-satellite-left-menu,
  .nuxeo-satellite-right-menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;

      a {
        color: $nuxeo-color-gray;
        font-family: $body-font-family;
        font-size: 12px;
        padding: 18px 1em;
        transition: color .2s ease;

        &:hover {
          color: $nuxeo-color-blue;
        }
      }
    }
  }

  .nuxeo-satellite-left-menu {
    clear: both;
    float: left;

    li.menu-home a {
      border-right: 1px solid $nuxeo-color-gray;
      padding: 2px 1em;
    }
  }

  .nuxeo-satellite-right-menu {
    float: right;

    ul {
      height: 50px;
    }

    li {
      line-height: 50px;
    }

    .nuxeo-satellite-download {
      background: $nuxeo-color-accent;
      text-transform: uppercase;
      transition: background .4s ease;

      &:hover {
        background: darken($nuxeo-color-accent, 15%);
      }

      a {
        color: $white;
        font-family: Ademi;
        font-size: 15px;
        padding: 16px 1.5em;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .nuxeo-satellite-banner {
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    height: 280px;
    text-align: center;

    h1 {
      color: $white;
      font-family: Ademi;
      font-size: 21px;
      margin: 0;
      padding-top: 80px;
      text-transform: capitalize;

      &::after {
        background: none;
        display: none;
      }
    }

    p {
      font-size: 15px;
      padding-top: 20px;
    }
  }

  li.narrow-only {
    display: none;
  }

  .nuxeo-satellite-menu {
    background-color: $nuxeo-satellite-dark-bg;
    color: $white;
    height: 50px;

    li.menu-burger {
      display: none;
    }

    li {
      line-height: 50px;

      a {
        color: $white;
        font-family: Ademi;
        text-transform: uppercase;

        &:hover {
          color: $nuxeo-color-blue;
        }
      }
    }

    &.is-narrow {
      height: inherit;

      &.is-open {
        li {
          height: 2rem;

          a,
          form {
            display: block;
          }
        }

        ul {
          padding-bottom: .5rem;
        }
      }

      &.is-open .narrow-only {
        display: block;

        #burger-menu-search {
          color: $white;
          margin-top: -.5rem;
          padding-left: 1.5rem;
          padding-top: 0;

          input {
            color: $white;
            display: inline;
            width: calc(100% - 3rem);
          }
        }
      }

      .nuxeo-satellite-left-menu {
        float: none;
      }

      .nuxeo-satellite-right-menu {
        display: none;
      }

      ul {
        padding-bottom: 0;
        transition: padding-bottom .4s ease;
      }

      li {
        // background-color: $black;
        display: block;
        height: 0;
        line-height: normal;
        transition: height .4s ease;

        a,
        form {
          display: none;
          padding: .2rem 1.5rem;
          transition: display .1s ease .4s;
          width: 100%;
        }

        &.menu-home,
        &.menu-burger {
          display: inline-block;
          height: 50px;
          line-height: 50px;

          a {
            border-right: 0;
            display: block;
          }
        }

        &.menu-home a {
          padding-left: 0;
        }

        &.menu-burger {
          color: $white;
          cursor: pointer;
          display: inline-block;
          font-family: Ademi;
          font-size: 12px;
          padding: 0 0 0 1rem;
          text-transform: uppercase;
          transition: color .2s ease;

          .menu-item-text {
            border-right: 1px solid $nuxeo-color-gray;
            padding: 0 1rem 0 .7rem;
          }

          &:hover {
            color: $nuxeo-color-blue;
          }
        }
      }
    }


    #search-box {
      margin-left: -1rem;
      margin-right: .5rem;
      transition: width .4s ease;
      width: 300px;

      &.closed {
        width: 0;
      }

      input {
        color: $white;
        // Fixes FF issue
        display: inline-block;
      }

      :placeholder {
        color: $dark-gray;
        font-size: .8rem;
        text-transform: uppercase;
      }
    }

    #search-button {
      color: $white;
      padding: 1rem;
      transition: color .2s ease;

      &:hover,
      &.active {
        color: $nuxeo-color-blue;
      }
    }
  }
}
