@charset 'utf-8';

@import 'settings';
@import 'components/layout_helpers';

#page_container > .column {
  margin: 0;
  padding: 0;
}

.error-background {
  background: url('//nuxeo.com/assets/imgs/error/error-deer.gif') no-repeat center center;
  background-size: cover;
  min-height: 500px;
  padding-top: 0;

  > div {
    background: url('//nuxeo.com/assets/imgs/products/bg-products.png') no-repeat right center;
    background-size: contain;
    height: 255px;
    padding-top: 1rem;
  }

  .breadcrumb {
    margin-bottom: 0;
  }

  h1 {
    color: $white;
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  p {
    color: $white;
    font-size: 1rem;
  }

}
