@charset 'utf-8';

@import 'settings';
@import 'components/layout_helpers';

$fast-track-icon-radius: 36px;
$header-color: #384248;
$body-background-color: #fafcfd;

%center-image {
  display: block;
  margin: auto;
}

html > body {
  background: $body-background-color;
}

// Homepage typeography
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
}

#quick-access {
  a {
    border-bottom: 8px solid darken($primary-color, 15%);
    font-size: 1.2rem;
    padding-bottom: .8em;
    padding-top: 1.2em;
    text-transform: uppercase;
  }
}

#client-libs {
  background-color: $white;
  border: 1px solid $dark-gray;

  img {
    @extend %center-image;
  }

  > div ~ div {
    max-width: 23rem;

    > .column {
      margin-bottom: 1rem;
    }
  }
}

@media screen and #{breakpoint(medium up)} {
  #client-libs > div ~ div {
    max-width: 32rem;
  }
}

@media screen and #{breakpoint(large up)} {
  #client-libs > div ~ div {
    max-width: 55rem;
  }
}

@mixin section-color ($section, $section-color) {
  &.#{$section} {
    > div {
      border-color: $section-color;
      color: $section-color;

      > div {
        border-color: lighten($section-color, 20%);
      }
    }
  }
}

.fast-track {
  box-shadow: 0 4px 4px 0 $nuxeo-overview-shaddow;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: calc(#{$fast-track-icon-radius} + 1rem);
  width: 100%;

  > div {
    background-color: $white;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2rem; // Ignore sass-lint error
    // color: $nuxeo-tutorial-color;
    position: relative;

    img {
      @extend %center-image;
      display: block;
      left: calc(50% - #{$fast-track-icon-radius});
      margin: auto;
      position: absolute;
      top: -#{$fast-track-icon-radius};
    }

    > div {
      border-style: solid;
      border-width: 0;
      border-bottom-width: .7em; // Ignore sass-lint error
      padding-bottom: 2rem;
      padding-top: 5rem;
      text-transform: uppercase;
    }
  }

  @include section-color('tutorial', $nuxeo-tutorial-color);
  @include section-color('server', $nuxeo-server-color);
  @include section-color('web-ui', $nuxeo-web-ui-color);
  @include section-color('desktop-mob', $nuxeo-desktop-mob-color);
  @include section-color('addons', $nuxeo-addons-color);
  @include section-color('user-documentation', $nuxeo-user-documentation-color);
  @include section-color('sdks', $nuxeo-sdks-color);
  @include section-color('services', $nuxeo-services-color);
  @include section-color('tools', $nuxeo-tools-color);

  .nuxeo-satellite-menu > .nuxeo-satellite-left-menu {
    .menu-link {
      transition: color .4s ease;
    }

    .hover-tutorial:hover {
      color: $nuxeo-tutorial-color;
    }

    .hover-server:hover {
      color: $nuxeo-server-color;
    }

    .hover-web-ui:hover {
      color: $nuxeo-web-ui-color;
    }

    .hover-desktop-mob:hover {
      color: $nuxeo-desktop-mob-color;
    }

    .hover-addons:hover {
      color: $nuxeo-addons-color;
    }

    .hover-sdks:hover {
      color: $nuxeo-sdks-color;
    }

    .hover-services:hover {
      color: $nuxeo-services-color;
    }

    .hover-tools:hover {
      color: $nuxeo-tools-color;
    }
  }
}


#search-area {
  background-color: $white;
  border: 1px solid $primary-color;

  .input-group {
    padding-top: 1rem;
  }

  .input-group-label {
    color: $dark-gray;
    font-size: $nuxeo-button-default;
    letter-spacing: .1rem;
    padding-left: 1rem;
    text-transform: uppercase;

    &.closed {
      display: none;
    }
  }
}

#search {
  * {
    border: 0;
    border-radius: none;
  }

  td {
    margin: 0;
    padding: 0;

    &.gsib_a {
      padding-left: .3rem;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .gsc-input {
    font-family: Aregular;

    input {
      color: $black;
      font-size: 1.3rem;
      // For having the caret a different colour
      // - hacky and not consistent across brosers.
      // text-shadow: 0 0 0 $black;
      // text-fill-color: transparent;
      //
      // &::input-placeholder {
      //   color: $dark-gray;
      //   text-fill-color: initial;
      //   text-shadow: none;
      // }
    }
  }

  td.gsc-search-button,
  input.gsc-search-button {
    background-color: $primary-color;
    transition: background-color .2s ease;
  }

  td.gsc-search-button:hover,
  td.gsc-search-button:focus,
  input.gsc-search-button:hover,
  input.gsc-search-button:focus {
    background-color: darken($primary-color, 15%);
  }

  .cse .gsc-search-button input.gsc-search-button-v2,
  input.gsc-search-button-v2 {
    padding: .7rem 1rem;
  }

  // Results
  .gsc-control-cse .gs-spelling,
  .gsc-control-cse .gs-result .gs-title,
  .gsc-control-cse .gs-result .gs-title * {
    font-size: 1.3rem;
    height: 2.3rem;
    text-decoration: none !important;
  }

  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b,
  .gs-imageResult a.gs-title:link,
  .gs-imageResult a.gs-title:link b,
  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b,
  .gs-imageResult a.gs-title:visited,
  .gs-imageResult a.gs-title:visited b {
    color: #00adff !important;
    font-family: Ademi;
    font-size: 1.2rem;
    text-decoration: none !important;
  }

  .gs-webResult .gs-snippet,
  .gs-imageResult .gs-snippet,
  .gs-fileFormatType {
    color: #333;
    font-family: Aregular, Arial;
  }

  .gs-webResult div.gs-visibleUrl,
  .gs-imageResult div.gs-visibleUrl {
    color: #808080;
  }
}

.gsc-control-cse {
  padding: 0 !important;

  * {
    box-sizing: content-box !important;
  }

  input {
    box-shadow: none !important;
  }

  input:focus {
    outline: none;
  }

  table {
    background: transparent;
    border: 0;
    margin-bottom: 0 !important;
  }

  .gsc-input-box,
  .gsc-search-box .gsc-input>input,
  .gsc-input-box-hover {
    box-shadow: none !important;
    height: inherit;
    margin: 0 !important;
  }
}
