@charset 'utf-8';

@import 'settings';

#search {
  margin-top: 2rem;

  svg {
    width: 16px;
    height: 16px;
  }

  .ais-search-box {
    padding: 1rem 0.5rem;
    border: 1px solid $c-blue;
  }

  .ais-search-box--input {
    display: inline;
    font-style: normal;
  }

  .ais-search-box--reset {
    position: absolute;
    top: 1.6rem;
    right: 7px;
    cursor: pointer;
  }
}

#hits {
  margin-top: 1.5rem;

  a {
    display: block;
    padding: 0.5rem 0.3rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: lighten($nuxeo-color-light-blue, 23%);
    }
  }
}
