{{> header_standard}}
<!-- {{> information}} -->
<div class="row">
    <div class="column">
        {{> breadcrumb}}
        <h1 id="page-title">{{title}}</h1>

        <div class="row small-up-1 medium-up-2">
            {{#each (obj_key (obj_key lists list_key) list_item)}}
                {{>label_item this}}
            {{/each}}
        </div>
    </div>
</div>
{{> footer_standard}}
