
blockquote {
  .bubble {
    border: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;

    &.nuxeo-icon {
      .svg-icon {
        left: 0;
        top: .5rem;
      }
    }
  }

  .quotes {
    border: 0;
    color: black;
    margin-bottom: 0;
    padding: 0;

    &::before,
    &::after {
      color: $nuxeo-color-accent;
      font-size: 50px;
      font-weight: 800;
      line-height: 5px;
      vertical-align: text-bottom;
    }

    &::before {
      content: open-quote;
      margin-right: 10px;
    }

    &::after {
      content: close-quote;
      margin-left: 10px;
    }
  }
}

cite {
  color: #333;
  font-style: normal;

  .person {
    color: $primary-color;
    font-weight: bold;
  }
}
