.callout {
  background-color: $light-gray;
  padding-bottom: 1rem;

  ul,
  ol,
  dl {
    margin-bottom: .3rem;
    margin-left: 1.25rem;
  }

  .title {
    border-bottom: 1px solid $callout-border;
    color: $dark-gray;
    font-family: Ademi;
    margin: 1rem 0;
  }

  &.primary,
  &.secondary {
    box-shadow: 0 4px 4px 0 $nuxeo-overview-shaddow;
  }

  &.secondary {
    background-color: $white;

    font-size: 1.2rem;

    h3 {
      text-align: center;
    }
  }

  &.nuxeo {
    background-color: $white;
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 1.5rem;
    position: relative;

    .fa { //-stack
      font-size: 1.4rem;
      left: 1rem;
      position: absolute;
    }

    &.success,
    &.tip {
      border-left: 6px solid $success-color;
    }

    &.hint,
    &.info {
      border-left: 6px solid $primary-color;
    }

    &.note {
      border-left: 6px solid $warning-color;

      > div {
        &:first-of-type {
          &::before {
            color: $warning-color;
            content: 'Note';
          }
        }
      }
    }

    &.warning {
      background-color: transparent;
      border-left: 6px solid $alert-color;

      > div {
        &:first-of-type {
          &::before {
            color: $alert-color;
            content: 'Warning';
          }
        }
      }
    }

    > div {
      &:first-of-type {
        &::before {
          font-size: $nuxeo-body-small;
          margin-right: 1.5rem;
          text-transform: uppercase;
        }
      }
    }

    &.tip {
      > div {
        &:first-of-type {
          &::before {
            color: $success-color;
            content: 'Tip';
          }
        }
      }
    }

    &.info {
      > div {
        &:first-of-type {
          &::before {
            color: $primary-color;
            content: 'Info';
          }
        }
      }
    }

    .heading {
      font-size: $nuxeo-body-small;
      text-transform: uppercase;
    }

    p {
      &:last-child,
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }
}
