
// code-header - Same as h4
@each $size, $headers in $header-sizes {
  @include breakpoint($size) {
    .code-heading {
      color: $header-color;
      font-family: $header-font-family;
      font-size: rem-calc(map-get($headers, 'h4'));
      font-style: $header-font-style;
      font-weight: $header-font-weight;
      line-height: $header-lineheight;
      margin-bottom: $header-margin-bottom;
      margin-top: 0;
      text-rendering: $header-text-rendering;
    }
  }
}

code {
  border-radius: 3px;
}

pre {
  background: $nuxeo-color-code-background;
  border-radius: $code-border-radius;
  font-family: 'Courier 10 Pitch', Courier, monospace;
  font-size: 15px !important;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre-wrap;

  > code {
    background: transparent;
    border: 0;
    color: $nuxeo-color-code-foreground;
  }
}
