// Inline code
code {
  border-radius: $code-border-radius - 2;
  overflow-wrap: break-word;
}

$tooltip-background-color: rgba(0, 0, 0, .8);
$tooltip-text-color: $white;
$tooltip-duration: .4s;
$tooltip-delay: .2s;

// Code block
pre {
  background: $nuxeo-color-code-background;
  border: solid 2px $nuxeo-color-code-border;
  border-radius: $code-border-radius;
  color: $nuxeo-color-code-foreground;
  font-family: 'Courier 10 Pitch', Courier, monospace;
  font-size: 15px !important;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  position: relative;
  white-space: pre-wrap;

  .copy-area {
    position: absolute;
    right: 0;
    top: 0;
  }

  .copy-button {
    font-family: $body-font-family;
    background-color: lighten($nuxeo-color-code-border, 15%);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    margin: 4px;
    opacity: 0;
    padding: 4px 6px;
    transition: opacity .4s ease;

    &:hover {
      background-color: $nuxeo-color-code-border;
    }

    &.tooltipped {
      position: relative;
    }

    // This is the tooltip bubble
    &.tooltipped::after {
      position: absolute;
      z-index: 1000000;
      display: none;
      padding: 5px 8px;
      font-size: .8rem;
      -webkit-font-smoothing: subpixel-antialiased;
      color: $tooltip-text-color;
      text-align: center;
      text-decoration: none;
      text-shadow: none;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: break-word;
      white-space: pre;
      pointer-events: none;
      content: attr(aria-label);
      background: $tooltip-background-color;
      border-radius: 3px;
      opacity: 0;
    }

    // This is the tooltip arrow
    &.tooltipped::before {
      position: absolute;
      z-index: 1000001;
      display: none;
      width: 0;
      height: 0;
      color: $tooltip-background-color;
      pointer-events: none;
      content: "";
      border: 5px solid transparent;
      opacity: 0;
    }

    // // delay animation for tooltip
    @keyframes tooltip-appear {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    // This will indicate when we'll activate the tooltip
    &.tooltipped:hover,
    &.tooltipped:active,
    &.tooltipped:focus {
      &::before,
      &::after {
        display: inline-block;
        text-decoration: none;
        animation-name: tooltip-appear;
        animation-duration: $tooltip-duration;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-delay: $tooltip-delay;
      }
    }

    // .tooltipped-no-delay:hover,
    // .tooltipped-no-delay:active,
    // .tooltipped-no-delay:focus {
    //   &::before,
    //   &::after {
    //     opacity: 1;
    //     animation: none;
    //   }
    // }


    // Tooltipped south
    &.tooltipped-sw {
      &::after {
        top: 100%;
        right: 50%;
        margin-top: 5px;
      }

      &::before {
        top: auto;
        right: 50%;
        bottom: -5px;
        margin-right: -5px;
        border-bottom-color: $tooltip-background-color;
      }
    }

    &.tooltipped-sw::after {
      margin-right: -15px;
    }
  }



  &:hover .copy-button {
    opacity: 1;
  }

  > code {
    background: transparent;
    border: 0;
    color: $nuxeo-color-code-foreground;

    > code {
      background: transparent;
    }
  }
}

// Code panel
.code-heading {
  color: $header-color;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $header-lineheight;
  margin-bottom: -1rem;
  text-rendering: $header-text-rendering;

  p & {
    margin: 0;
  }

  // Ignore empty paragraphs added by Markdown
  ~ p:blank,
  ~ p:empty {
    display: none;
  }
}

// code-header - Same as h4
@each $size, $headers in $header-sizes {
  @include breakpoint($size) {
    .code-heading {
      font-size: rem-calc(map-get($headers, 'h4'));
    }
  }
}
