// Inline code
code {
  border-radius: 3px;
  overflow-wrap: break-word;
}

// Code block
pre {
  background: $nuxeo-color-code-background;
  border-radius: $code-border-radius;
  color: $nuxeo-color-code-foreground;
  font-family: 'Courier 10 Pitch', Courier, monospace;
  font-size: 15px !important;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre-wrap;

  > code {
    background: transparent;
    border: 0;
    color: $nuxeo-color-code-foreground;
  }
}

// Code panel
.code-heading {
  color: $header-color;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $header-lineheight;
  margin-bottom: -1rem;
  text-rendering: $header-text-rendering;

  p & {
    margin: 0;
  }

  // Ignore empty paragraphs added by Markdown
  ~ p:blank,
  ~ p:empty {
    display: none;
  }
}

// code-header - Same as h4
@each $size, $headers in $header-sizes {
  @include breakpoint($size) {
    .code-heading {
      font-size: rem-calc(map-get($headers, 'h4'));
    }
  }
}
