#page-container > div > div > div > div {
  margin-top: 3rem;
}

// large
@media screen and #{breakpoint(large up)} {
  #content {
    max-width: 1024px;

    &.toc {
      max-width: 60%;
    }
  }
}

#page-container #content {
  margin-top: 0;
}

.accordion {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;

  .accordion-title {
    border-top-left-radius: .43rem;
    border-top-right-radius: .43rem;
    font-family: Ademi;
  }
}

.edit-page {
  font-size: 1.4rem;
}

.heading-group {
  margin-bottom: 1.5rem;

  h1 {
    margin-bottom: .5rem;
  }

  h1 ~ div {
    color: $medium-gray;
    font-weight: bold;
  }

  a {
    color: $medium-gray;
    margin-left: .5rem;
    transition: color .2s ease;

    i {
      border: 2px solid $medium-gray;
      border-radius: 50%;
      padding: .4rem;
      padding-bottom: .1rem;
      padding-top: .1rem;
    }
  }
}

footer {
  padding-bottom: 6rem;
  padding-top: 2rem;
}

img {
  &.nuxeo {
    &.border {
      border: 1px solid $medium-gray;
    }

    &.thumbnail {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  &.emojione {
    height: 1.1rem;
  }
}
