.callout {
  border: 0;
  border-radius: .5rem;

  &.code {
    background-color: $nuxeo-color-code-background;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .title {
      margin-bottom: 0;
    }

    pre {
      padding: .6em;
    }
  }

  .title {
    background-color: $light-gray;
    border-bottom: 1px solid $callout-border;
    border-top-left-radius: .43rem;
    border-top-right-radius: .43rem;
    font-family: Ademi;
    margin: -1rem -1rem 2rem;
    padding: .3rem .5rem 0;
  }

  &.nuxeo {
    background-color: $light-gray;
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 3rem;
    position: relative;

    .fa { //-stack
      font-size: 1.4rem;
      left: 1rem;
      position: absolute;
    }

    &.success,
    &.tip {
      border-left: 4px solid darken($success-color, 15%);
    }

    &.hint,
    &.info {
      border-left: 4px solid $primary-color;
    }

    &.warning,
    &.note {
      border-left: 4px solid $warning-color;
    }
  }
}


.accordion {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;

  .accordion-title {
    border-top-left-radius: .43rem;
    border-top-right-radius: .43rem;
    font-family: Ademi;
  }
}

img {
  &.nuxeo {
    &.border {
      border: 1px solid $medium-gray;
    }
  }
}
