.accordion {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    .accordion-title {
        font-family: Ademi;
        border-top-left-radius: .43rem;
        border-top-right-radius: .43rem;
    }
}

img.nuxeo.border {
    border: 1px solid $medium-gray;
}
