$content-background: #f5f9fb;

#content-container {
  background-attachment: fixed;
  background-color: $content-background;
  background-image: url('/assets/imgs/nuxeo-grid.svg');
  background-position-x: 4rem;
  background-position-y: 350px;
  background-repeat: no-repeat;

  #content {
    margin-top: 0;
  }
}

// medium+
@media screen and #{breakpoint(medium up)} {
  #content-container {
    background-position-x: calc(33vw + 4rem);
  }
}


// large+
@media screen and #{breakpoint(large up)} {
  #content-container {
    background-position-x: calc(25vw + 4rem);
  }

  #content {
    max-width: 1024px;

    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > div.nuxeo.callout {
      max-width: 40rem;
    }

    > ol > li,
    > ul > li {
      & div,
      & p {
        max-width: 37em;
      }
    }

    > pre,
    > table,
    > .table-scroll {
      max-width: 100%;
    }
  }
}

// Large screen support
@media screen and (min-width: 1800px) {
  $wide-max-menu-width: 446px;
  #side-menu-container {
    max-width: $wide-max-menu-width;
  }

  #content-container {
    background-position-x: calc(#{$wide-max-menu-width} + 7rem); // padding of 3rem + 4rem

    &.large-9.large-push-3 {
      left: $wide-max-menu-width;
      padding-left: 3rem;
      padding-right: 3rem;
      width: calc(100% - #{$wide-max-menu-width});
    }
  }
}

.accordion {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;

  .accordion-title {
    border-top-left-radius: .43rem;
    border-top-right-radius: .43rem;
    font-weight: bold;
  }
}

.edit-page {
  font-size: 1.4rem;
}

.heading-group {
  margin-bottom: 1.5rem;

  h1 {
    margin-bottom: .5rem;
  }

  h1 ~ div {
    color: $medium-gray;
    font-weight: bold;
  }

  a {
    color: $medium-gray;
    margin-left: .5rem;

    img {
      margin-top: -5px;
    }
  }

  .style-bar {
    background: $black;
    height: 4px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100px;
  }
}

footer {
  padding-bottom: 6rem;
  padding-top: 2rem;
}

img {
  &.nuxeo {
    &.border {
      border: 1px solid $medium-gray;
    }

    &.thumbnail {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  &.emojione {
    height: 1.1rem;
  }
}
