@font-face {
  font-display: swap;
  font-family: 'neue-haas-grotesk-display';
  font-style: normal;
  font-weight: 500;
  src:
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-roman-regular.woff2')
    format('woff2'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-roman-regular.woff')
    format('woff'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-roman-regular.otf')
    format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'neue-haas-grotesk-display';
  font-style: italic;
  font-weight: 500;
  src:
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-roman-italic.woff2')
    format('woff2'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-roman-italic.woff')
    format('woff'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-roman-italic.otf')
    format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'neue-haas-grotesk-display';
  font-style: normal;
  font-weight: 600;
  src:
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-medium-regular.woff2')
    format('woff2'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-medium-regular.woff')
    format('woff'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-medium-regular.otf')
    format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'neue-haas-grotesk-display';
  font-style: italic;
  font-weight: 600;
  src:
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-medium-italic.woff2')
    format('woff2'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-medium-italic.woff')
    format('woff'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-medium-italic.otf')
    format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'neue-haas-grotesk-display';
  font-style: normal;
  font-weight: 700;
  src:
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-bold-regular.woff2')
    format('woff2'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-bold-regular.woff')
    format('woff'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-bold-regular.otf')
    format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'neue-haas-grotesk-display';
  font-style: italic;
  font-weight: 700;
  src:
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-bold-italic.woff2')
    format('woff2'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-bold-italic.woff')
    format('woff'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-bold-italic.otf')
    format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'neue-haas-grotesk-display';
  font-style: normal;
  font-weight: 900;
  src:
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-black-regular.woff2')
    format('woff2'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-black-regular.woff')
    format('woff'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-black-regular.otf')
    format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'neue-haas-grotesk-display';
  font-style: italic;
  font-weight: 900;
  src:
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-black-italic.woff2')
    format('woff2'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-black-italic.woff')
    format('woff'),
    url('https://static.nuxeo.com/fonts/neue-haas-grotesk-display-black-italic.otf')
    format('opentype');
}
