#footer {
  background-color: $nuxeo-color-footer;
  color: $white;
  font-size: $nuxeo-body-small;
  padding-bottom: 1rem;

  ul {
    list-style-position: outside;
    list-style-type: none;
  }

  li {
    a {
      display: block;
    }

    &:first-of-type {
      font-weight: 700;
    }
  }

  a {
    color: $white;
    transition: color .2s ease;

    &:hover {
      color: $primary-color;
    }
  }

  .copyright > a {
    margin-left: 3rem;
  }
}
