#nuxeo-satellite-header .nuxeo-satellite-menu {
  .hover-tutorial :hover {
    color: $nuxeo-tutorial-color;
  }

  .hover-server :hover {
    color: $nuxeo-server-color;
  }

  .hover-web-ui :hover {
    color: $nuxeo-web-ui-color;
  }

  .hover-desktop-mob :hover {
    color: $nuxeo-desktop-mob-color;
  }

  .hover-addons :hover {
    color: $nuxeo-addons-color;
  }

  .hover-sdks :hover {
    color: $nuxeo-sdks-color;
  }

  .hover-services :hover {
    color: $nuxeo-services-color;
  }

  .hover-tools :hover {
    color: $nuxeo-tools-color;
  }
}

#search-box {
  margin-left: -1rem;
  margin-right: .5rem;
  transition: width .4s ease;
  width: 168px;

  &.closed {
    width: 0;
  }

  input {
    color: $white;
    // Fixes FF issue
    display: inline-block;
  }

  :placeholder {
    color: $dark-gray;
    font-size: .8rem;
    text-transform: uppercase;
  }
}

#search-button {
  color: $white;
  padding: 1rem;
  transition: color .2s ease;

  &:hover,
  &.active {
    color: $primary-color;
  }
}
