#nuxeo-satellite-header .nuxeo-satellite-menu {
  .hover-tutorial :hover {
    color: $nuxeo-tutorial-color;
  }

  .hover-server :hover {
    color: $nuxeo-server-color;
  }

  .hover-web-ui :hover {
    color: $nuxeo-web-ui-color;
  }

  .hover-desktop-mob :hover {
    color: $nuxeo-desktop-mob-color;
  }

  .hover-packages :hover {
    color: $nuxeo-packages-color;
  }

  .hover-sdks :hover {
    color: $nuxeo-sdks-color;
  }

  .hover-services :hover {
    color: $nuxeo-services-color;
  }

  .hover-tools :hover {
    color: $nuxeo-tools-color;
  }
}
