$menu-background: lighten($primary-color, 47%);
$active-border-width: 8px;
$scrollbar-color: rgba(0, 0, 0, .3);

#side-menu-container {
  background: linear-gradient(90deg, $menu-background 21rem, $white 21rem);
  height: calc(100vh - 50px);
  left: 0;
  margin-top: 50px;
  overflow-y: auto;
  padding-left: 0;
  position: fixed;
  top: 0;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
  }
}

#side-menu {
  max-width: 20rem;

  ul {
    font-size: $nuxeo-body-smaller;
    font-weight: bold;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
  }

  ul ul {
    background-color: $nuxeo-color-menu-background-selected;

    // This is pretty disgusting
    a {
      padding-left: 1rem;

      &.active {
        padding-left: calc(1rem - #{$active-border-width});
      }
    }

    ul {
      a {
        padding-left: 2rem;

        &.active {
          padding-left: calc(2rem - #{$active-border-width});
        }
      }

      ul {
        a {
          padding-left: 3rem;

          &.active {
            padding-left: calc(3rem - #{$active-border-width});
          }
        }

        ul {
          a {
            padding-left: 4rem;

            &.active {
              padding-left: calc(4rem - #{$active-border-width});
            }
          }

          ul {
            a {
              padding-left: 5rem;

              &.active {
                padding-left: calc(5rem - #{$active-border-width});
              }
            }
          }
        }
      }
    }
  }

  li {
    div {
      border-right: solid 3px $light-gray;
    }

    > div {
      padding: .5rem .5rem .5rem 1rem;

      &:hover {
        background-color: $nuxeo-color-menu-hover;

        a {
          color: $black;
        }
      }
    }

    i {
      color: $dark-gray;
      cursor: pointer;
      float: right;
      font-size: $nuxeo-body-smaller;
      line-height: $lead-lineheight;
      transition: color .2s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }

  a {
    color: $secondary-color;
    display: block;
    transition: color .2s ease;

    &.active {
      color: $black;
    }
  }

  .input-group {
    border: 2px solid $medium-gray;
    margin: 2rem;
    padding: .5rem;
    width: auto;
  }

  .input-group-field {
    height: 2rem;

    &:placeholder {
      color: $dark-gray;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
}

// Small
@media screen and #{breakpoint(small down)} {
  #side-menu-container {
    background: $menu-background;
  }

  #side-menu {
    max-width: none;
  }
}
