$active-border-width: 8px;
$scrollbar-color: rgba(0, 0, 0, .3);
$menu-background: lighten($nuxeo-tutorial-color, 56.5%);
$menu-fg: opacify($nuxeo-color-dark, .8);
$menu-fg-active: $nuxeo-color-dark;

// Left menu
@mixin menu-section-colours ($color) {
  $nuxeo-color-menu-hover: lighten($color, 12.2%);
  $level-0-color: $color;
  $level-1-color: lighten($color, $nuxeo-section-lighten);


  #side-menu-container #side-menu .input-container {
    background: $level-0-color;
  }

  #side-menu-container {
    background-color: $menu-background;
  }

  #side-menu {
    ul {
      background-color: $level-0-color;
      color: $menu-fg;
    }

    ul ul {
      background-color: $level-1-color;

      & ul {
        background-color: $menu-background;

        & ul > li {
          padding-left: 1rem;
        }
      }
    }

    li {
      > div:hover {
        background-color: $nuxeo-color-menu-hover;

        a {
          color: $menu-fg;
        }
      }

      i:hover {
        color: $color;
      }
    }

    a {
      color: $menu-fg;
    }

    // .input-group {
    //   background-color: rgba(255, 255, 255, .4);
    //   margin: 0;
    //   padding: .5rem;
    //   width: 100%;
    // }

    .input-group-field {
      color: $menu-fg-active;

      &::placeholder {
        color: $menu-fg;
      }
    }

    #toc .button {
      color: $menu-fg;

      &:hover,
      &.active {
        color: $color;
      }
    }
  }

  // Small
  @media screen and #{breakpoint(small down)} {
    #side-menu-container {
      background: $menu-background;
    }
  }
}


.doc-section {
  &.doc-section- {
    @include menu-section-colours($primary-color);
  }

  &.doc-section-tutorial {
    @include menu-section-colours($nuxeo-tutorial-color);
  }

  &.doc-section-server {
    @include menu-section-colours($nuxeo-server-color);
  }

  &.doc-section-web-ui {
    @include menu-section-colours($nuxeo-web-ui-color);
  }

  &.doc-section-desktop-mob {
    @include menu-section-colours($nuxeo-desktop-mob-color);
  }

  &.doc-section-addons {
    @include menu-section-colours($nuxeo-addons-color);
  }

  &.doc-section-user-documentation {
    @include menu-section-colours($nuxeo-user-documentation-color);
  }

  &.doc-section-sdks {
    @include menu-section-colours($nuxeo-sdks-color);
  }

  &.doc-section-services {
    @include menu-section-colours($nuxeo-services-color);
  }

  &.doc-section-tools {
    @include menu-section-colours($nuxeo-tools-color);
  }
}

#page-container #side-menu .input-container {
  // background: $level-0-color;
  margin: 0;
  padding: 1rem 2rem;
}

#side-menu-container {
  height: calc(100vh - 50px);
  left: 0;
  margin-top: 50px;
  max-width: 450px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 0;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
  }
}

#side-menu {
  ul {
    font-size: $nuxeo-body-small;
    font-weight: bold;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
  }

  ul ul {
    & ul {
      & ul > li {
        padding-left: 1rem;
      }
    }
  }

  li {
    > div {
      padding: .5rem .5rem .5rem 1rem;

      // > i {
      //   margin-left: -.5rem;
      //   position: absolute;
      // }

      a {
        margin-left: 1em;
      }
    }

    i {
      color: $menu-fg;
      cursor: pointer;
      float: right;
      font-size: $nuxeo-body-smaller;
      line-height: $lead-lineheight;
      transition: color .2s ease;
    }
  }

  a {
    display: block;
    transition: color .2s ease;

    &.active {
      color: $menu-fg-active;
    }
  }

  ul ul ul a.active::before {
    content: '• ';
  }

  #toc a.active::before {
    content: '';
  }

  .input-group {
    background-color: rgba(255, 255, 255, .4);
    margin: 0;
    padding: .5rem;
    width: 100%;
  }

  .input-group-field {
    height: 2rem;

    &::placeholder {
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
}

// Small
@media screen and #{breakpoint(small down)} {
  #side-menu-container {
  }

  #side-menu {
    max-width: none;
  }
}
