$menu-shadow: rgba(0, 0, 0, .1);
$menu-width: 370px;
$menu-item-height: 60px;

@mixin hover-slide ($color) {
  background-image: linear-gradient(to right, $white 50%, $color 50%);
  border-left-color: $color;

  a {
    color: $color;
  }

  &:hover > a {
    color: darken($color, 40%);
  }
}

#nuxeo-satellite-header {
  .rainbow-menu > a {
    display: block;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    left: 0;
    letter-spacing: 2px;
    line-height: 50px;
    text-transform: uppercase;
    width: $menu-width;

    i.fa {
      float: right;
      line-height: 50px;
    }
  }
}

#doc-main-menu {
  background-color: $white;
  box-shadow: 4px 4px 4px 0 $menu-shadow;
  display: none;
  position: absolute;

  &.active,
  &:hover {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      border-left-style: solid;
      border-left-width: 30px;
      // font-family: AvenirNext;
      font-size: .88rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      height: $menu-item-height;
      letter-spacing: 1.8px;
      line-height: $menu-item-height;
      padding-left: 10px;
      text-transform: uppercase;

      & {
        // background-image: linear-gradient(to right, $white 50%, $nuxeo-tutorial-color 50%);
        background-size: 200% 100%;
        height: $menu-item-height;
        transition: background-position .4s ease-in;
        width: $menu-width;

        a {
          height: $menu-item-height;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: color .4s ease;
          white-space: nowrap;
        }

        &:hover,
        &.active {
          background-position: -100% 0;
          // color: darken($nuxeo-tutorial-color, 40%);

          ul.child {
            display: block;
          }
        }
      }

      a {
        display: block;
      }

      &.section-tutorial {
        @include hover-slide($nuxeo-tutorial-color);
      }

      &.section-server {
        @include hover-slide($nuxeo-server-color);
      }

      &.section-web-ui {
        @include hover-slide($nuxeo-web-ui-color);
      }

      &.section-desktop-mob {
        @include hover-slide($nuxeo-desktop-mob-color);
      }

      &.section-packages {
        @include hover-slide($nuxeo-packages-color);
      }

      &.section-user-documentation {
        @include hover-slide($nuxeo-user-documentation-color);
      }

      &.section-sdks {
        @include hover-slide($nuxeo-sdks-color);
      }

      &.section-services {
        @include hover-slide($nuxeo-services-color);
      }

      &.section-tools {
        @include hover-slide($nuxeo-tools-color);
      }

      ul.child {
        background: $white;
        border-left: 0;
        box-shadow: 4px 4px 4px 0 $menu-shadow;
        display: none;
        left: $menu-width;
        min-height: 480px;
        padding: 0;
        position: absolute;
        top: 0;

        li {
          @include hover-slide($primary-color);
          border-left: 0;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
}
