$menu-shadow: rgba($black, 0.2);
$menu-width: 370px;
$second-level-fg: rgba($nuxeo-color-dark, 0.8);

@mixin section-colours ($color) {
  $menu-hover: lighten($color, $nuxeo-section-lighten);
  border-left-color: $color;

  // a {
  //   color: $color;
  // }

  &:hover {
    background-color: $menu-hover;

    // > a {
    //   color: darken($color, 40%);
    // }
  }

  ul.child li:hover {
    background-color: $menu-hover;
  }
}

#nuxeo-satellite-header {
  .rainbow-menu a {
    color: $white;
    position: relative;
    transition: color 0.2s ease;

    .menu-home-text {
      padding-left: 48px;
    }

    svg {
      display: inline-block;
      height: 22px;
      left: 14px;
      position: absolute;
      top: 14px;
      width: 22px;
    }

    svg .nsvglogo-x {
      fill: #0067ff;
      // transition: fill 0.2s ease;
    }

    &:hover {
      color: #73d2cf;

      // svg .nsvglogo-x {
      //   fill: #73d2cf;
      // }
    }
  }

  .rainbow-menu > a {
    display: block;
    font-stretch: normal;
    font-style: normal;
    left: 0;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: capitalize;
    width: $menu-width;

    i.fa {
      float: right;
      line-height: 50px;
    }
  }
}

#doc-main-menu {
  background-color: $white;
  box-shadow: 4px 4px 4px 0 $menu-shadow;
  display: none;
  position: absolute;
  z-index: 10;

  &.active,
  &:hover {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      border-left-style: solid;
      border-left-width: 30px;
      // font-family: AvenirNext;
      font-size: 0.88rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 19px 5px 19px 10px;
      text-transform: capitalize;

      & {
        transition: background-color 0.4s ease-in;
        width: $menu-width;

        &:hover,
        &.active {
          ul.child {
            display: block;
          }
        }
      }

      a {
        color: $nuxeo-color-dark;
        display: block;
        transition: color 0.2s ease;
      }

      &.section-tutorials {
        @include section-colours($nuxeo-tutorials-color);
      }

      &.section-server {
        @include section-colours($nuxeo-server-color);
      }

      &.section-web-ui {
        @include section-colours($nuxeo-web-ui-color);
      }

      &.section-dam {
        @include section-colours($nuxeo-dam-color);
      }

      &.section-desktop-mob {
        @include section-colours($nuxeo-desktop-mob-color);
      }

      &.section-addons {
        @include section-colours($nuxeo-addons-color);
      }

      &.section-user-documentation {
        @include section-colours($nuxeo-user-documentation-color);
      }

      &.section-sdks {
        @include section-colours($nuxeo-sdks-color);
      }

      &.section-services {
        @include section-colours($nuxeo-services-color);
      }

      &.section-tools {
        @include section-colours($nuxeo-tools-color);
      }

      ul.child {
        background: $white;
        border-left: 0;
        box-shadow: 4px 4px 4px 0 $menu-shadow;
        display: none;
        left: $menu-width;
        min-height: 484px;
        padding: 0;
        position: absolute;
        top: 0;

        a {
          color: $second-level-fg;
        }

        li {
          border-left: 0;
          padding: 14px 20px;
        }
      }
    }
  }
}
