#nuxeo-satellite-header .nuxeo-satellite-menu #search-box {
  &.closed input {
    width: 0;
  }

  .algolia-autocomplete {
    width: 100%;
  }

  input {
    vertical-align: inherit !important;

    &::placeholder {
      color: $medium-gray;
    }
  }
}
