@mixin section-colours($color) {
  $menu-hover: lighten($color, $nuxeo-section-lighten);

  &:hover {
    background-color: $menu-hover;
  }
}

$menu-breakpoint: 830px;
$header-top-margin: 13px;
$header-height: 50px;

$gutter-foundation: 0.9375rem;
$max-width: 1600px;

.hamburger {
  cursor: pointer;
  display: inline-block;
  font-size: 36px;
  height: 1em;
  margin: 7px 0;
  position: relative;
  transform: rotate(0deg);
  width: 1em;

  span {
    background: $c-white;
    display: block;
    height: 1px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.2s ease;
    width: 100%;

    &:nth-child(1) {
      top: 20%;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 50%;
    }

    &:nth-child(4) {
      top: 80%;
    }
  }

  &.open span {
    &:nth-child(1),
    &:nth-child(4) {
      left: 50%;
      opacity: 0;
      top: 50%;
      width: 0%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.svg {
  &--arrow-space {
    font-size: 8px;
    margin-left: 0.5rem;
    margin-right: 3rem;
  }

  svg {
    height: 1em;
    width: auto;
  }
}

.main-menu--logo {
  display: inline-flex;
  font-size: 22px;
  max-width: 120px;
  vertical-align: middle;
  vertical-align: baseline-middle;
}

.menu-item {
  color: $c-white;
  display: inline-block;
  font-weight: $weight-medium;
  padding: 0 1.5em;
  position: relative;
  line-height: $header-height;

  &--search {
    display: flex;
    margin-right: 200px;
  }

  &--first {
    padding-left: 0;
  }
}

#page_container {
  margin-top: 50px;

  .side-menu {
    max-width: 350px;
  }
}

#menu-top {
  background: $c-black;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  height: $header-height;
  padding: 0 20px;
  position: fixed;
  top: 0;
  transition: top 0.4s ease;
  width: 100%;
  z-index: 6;

  &.nav-up {
    top: -#{$header-height + 10px};
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width;
  }

  a {
    border: 0;
  }

  .title-bar {
    a {
      box-sizing: border-box;
      display: inline-block;
      height: $header-height;
      line-height: $header-height;
    }
  }

  .drop-menu__items {
    display: none;
  }
}

.drop-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      // For IE
      list-style: none;
    }
  }
}

// Navigation Large
@media all and (min-width: $menu-breakpoint) {
  $spacing: 20px;
  $font-size-small: 14px;
  $font-size-sub: 20px;
  $font-size-primary: 30px;

  .hamburger {
    display: none;
  }

  .for-mobile {
    display: none;
  }

  .top-menu--right {
    display: flex;
  }

  #menu-top .drop-menu {
    cursor: pointer;
    position: relative;
    transition: background 0.2s ease;
    height: $header-height;

    .drop-menu__parent .fa {
      padding-left: 0.25rem;
    }

    &.drop-menu--persist .drop-menu__parent::after {
      content: '\00D7';
      padding-left: 5rem;
      font-size: 1.1rem;
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &.open.drop-menu--persist .drop-menu__parent::after {
      opacity: 1;
    }

    &:not(.drop-menu--persist):hover,
    &.open {
      background: $c-grey-3;
      transition: background 0s ease;

      .drop-menu__items {
        top: 50px;
        background: $c-white;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
        display: block;
        flex-direction: column;
        flex-wrap: nowrap;
        left: 0;
        position: absolute;
        width: 100%;

        ul {
          margin: 0;
        }

        a {
          color: $c-black;
          display: block;
          font-weight: $weight-roman;
          transition: all 0.2s ease;
          padding: 0.7em 1em;

          &.end-of-section {
            border-bottom: 1px solid $c-grey;
          }

          &:hover {
            background: $c-grey;
          }

          &.is-grey {
            color: $c-grey-1;

            &:hover {
              color: $c-black;
            }
          }
        }

        li.section-tutorials a {
          @include section-colours($nuxeo-tutorials-color);
        }

        li.section-server a {
          @include section-colours($nuxeo-server-color);
        }

        li.section-web-ui a {
          @include section-colours($nuxeo-web-ui-color);
        }

        li.section-dam a {
          @include section-colours($nuxeo-dam-color);
        }

        li.section-desktop-mob a {
          @include section-colours($nuxeo-desktop-mob-color);
        }

        li.section-addons a {
          @include section-colours($nuxeo-addons-color);
        }

        li.section-user-documentation a {
          @include section-colours($nuxeo-user-documentation-color);
        }

        li.section-sdks a {
          @include section-colours($nuxeo-sdks-color);
        }

        li.section-services a {
          @include section-colours($nuxeo-services-color);
        }

        li.section-tools a {
          @include section-colours($nuxeo-tools-color);
        }

        &.drop-menu__items--news {
          a {
            padding: 0.7em 1em 0;

            &:hover {
              background: none;
              color: $c-blue;

              .drop-menu__date,
              .drop-menu__more {
                color: $c-blue;
              }

              .drop-menu__more {
                border-bottom-color: $c-blue;
              }
            }
          }
        }
      }

      .drop-menu__date,
      .drop-menu__more {
        text-transform: uppercase;
        color: $c-grey-1;
        font-size: 0.6875em;
      }

      .drop-menu__title {
        font-weight: 600;
        font-size: 0.875em;
      }

      .drop-menu__more {
        border-bottom: 1px solid $c-grey-3;
        padding-bottom: 1em;

        &::before {
          content: '\2192 ';
          font-size: 1.3em;
          padding-right: 0.3em;
        }

        &.drop-menu__more--last {
          border-bottom: 0;
        }
      }
    }
  }

  // #main_menu .nav-container {
  //   > ul {
  //     align-items: center;
  //     flex-direction: row;
  //     justify-content: flex-end;
  //     position: relative;
  //
  //     > li {
  //       cursor: default;
  //       font-weight: $weight-medium;
  //       line-height: 1;
  //       padding: 19px 1.5em;
  //       position: relative;
  //       transition: color 0.2s ease;
  //
  //       > span {
  //         cursor: pointer;
  //       }
  //
  //       &:hover {
  //         color: $c_blue;
  //       }
  //     }
  //   }
  //
  //   a {
  //     font-weight: $weight-roman;
  //   }
  //
  //   li {
  //     padding-bottom: $spacing / 2;
  //   }
  // }
}

// Navigation Small
@media all and (max-width: $menu-breakpoint) {
  $container-padding: 40px;
  $spacing: 2.6vh;
  $font-size-sub: 6.2vw;
  $font-size-primary: 9vw;

  // .hamburger.open {
  //   margin-right: 7px;
  // }

  .for-desktop {
    display: none;
  }

  #main_menu.drop-menu__items {
    background-color: $white;
    display: block;
    height: 100%;
    left: 100%;
    opacity: 0;
    position: fixed;
    // right: 0;
    top: $header-height;
    transition: opacity 0.2s ease, z-index 0s ease 0.2s, left 0s ease 0.2s;
    width: 100%;
    z-index: -9999;

    &.open {
      left: 0;
      opacity: 1;
      transition: opacity 0.2s ease;
      z-index: 9999;

      .nav-container {
        height: 100%;
        left: 0;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        padding: $container-padding (2 * $gutter-foundation);
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .nav-container > ul {
      flex-direction: column;
      justify-content: flex-start;
    }

    a {
      font-weight: inherit;
    }

    li {
      font-size: $font-size-sub;
      font-weight: $weight-roman;
      padding: 0 0 $spacing;
    }
  }

  html.no-scroll {
    /* For desktop */
    overflow: hidden;

    body {
      height: 100%;
      overflow: visible;
    }
  }
}

@media all and (max-width: 1100px) {
  .for-desktop--large {
    display: none;
  }

  .menu-item--search {
    margin-right: 0;
    padding-right: 0;
  }
}

// Strange dimensions allowances
@media all and (min-width: 600px) and (max-width: $menu-breakpoint) {
  $spacing: 2vh;
  $font-size-primary: 38px;

  #main_menu .nav-container li {
    font-size: $font-size-primary;
    padding: 0 0 ($spacing * 1.5);
  }
}

.whats-new {
  &__icon {
    vertical-align: middle;
    margin-right: 0.25em;
  }

  .whats-new__icon--alert {
    fill: transparent;
    transition: fill 0.4s ease;
  }

  &--alert {
    .whats-new__icon--alert {
      fill: $c-red;
    }
  }
}
