@font-face {
  font-family: 'Aregular';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.eot');
  src: url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.woff') format('woff'), url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Regular.ttf');
}
@font-face {
  font-family: 'Ademi';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.eot');
  src: url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.woff') format('woff'), url('/assets/fonts/AvenirNextLTPro/AvenirNextLTPro-Demi.ttf');
}
