#prodpad_open_feedback {
  background: $nuxeo-menu-bg;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 5;
  color: $c-blue;
  text-transform: uppercase;
  transition: box-shadow 0.25s ease-out;

  &:hover {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);
  }

  .fa {
    text-align: left;
    vertical-align: 0;
  }
}

#prodpad_feedback {
  textarea,
  input {
    border: 1px solid $nuxeo-color-light-gray;

    &:hover,
    &:focus {
      border-color: #333;
    }
  }
}

#prodpad_feedback_submit {
  color: $white;
}
