$tab-highlight: lighten($primary-color, 5%);

.tabs {
  border: 0;
  font-weight: bold;
  letter-spacing: .05rem;
  margin-bottom: 3rem;
  text-transform: uppercase;

  li {
    border-bottom: 2px solid $dark-gray;
    border-top: 1px solid transparent; // To counterbalance when tab is active
    height: 4.5rem;
    text-align: center;
    transition: color .2s ease;

    // To prevent tabs from stacking
    &:first-child {
      &:nth-last-child(2),
      ~ li {
        max-width: calc(100% / 2);
      }

      &:nth-last-child(3),
      ~ li {
        max-width: calc(100% / 3);
      }

      // Assuming up to 4 tabs
      &:nth-last-child(4),
      ~ li {
        max-width: calc(100% / 4);
      }
    }

    a {
      color: $medium-gray;
      padding-bottom: 0;
      padding-left: .5rem;
      padding-right: .5rem;
    }

    &.is-active {
      border: 2px solid $dark-gray;
      border-bottom: 0;
      border-top: 4px solid $tab-highlight;

      a {
        color: $dark-gray;
      }
    }

    &:not(.is-active):hover {
      a {
        color: $dark-gray;
      }
    }
  }
}

.tabs-content {
  border: 0;
}
