#page-information-tags {
  color: $secondary-color;
  font-size: $nuxeo-body-small;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 1rem;

  > :first-child {
    &::before {
      color: $medium-gray;
      content: 'Tags ';
      font-style: italic;
    }
  }

  a {
    color: $secondary-color;
  }
}
