#toc {
  li {
    border-left: 3px solid $primary-color;
  }

  .button {
    background: none;
    color: $black;
    text-align: left;
    transition: color .2s ease, font-weight .2s ease;

    &:hover,
    &.active {
      color: $primary-color;
    }

    &.active {
      font-weight: bold;
    }
  }

  .h3 {
    padding-left: 1rem;
  }

  .h4 {
    padding-left: 2rem;
  }
}
