#side-menu {
  #toc {
    padding-top: 0;

    &:hover {
      background-color: inherit;
    }

    .button {
      background: none;
      font-weight: normal;
      padding: .4rem 0;
      text-align: left;
      transition: color .2s ease, font-weight .2s ease;
    }

    li {
      font-size: $nuxeo-body-smaller;
      padding-left: 0;
      text-transform: capitalize;
    }

    .h2 {
      // text-transform: uppercase;
    }

    .h3 {
      // padding-left: 1rem;
    }

    .h4 {
      padding-left: 1rem;
    }
  }

  ul ul ul #toc_list {
    padding-left: 1rem;
  }

  ul ul ul ul #toc_list {
    padding-left: 2rem;
  }

  ul ul ul ul ul #toc_list {
    padding-left: 3rem;
  }

  #toc_list {
    background-color: $white;
    margin-left: auto;
    margin-right: .5rem;
    overflow-y: auto;
    padding: .5rem .5rem .5rem 1rem;

    .active {
      font-weight: bold;
    }

  }
}
