h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  position: relative;

  .heading-anchor {
    color: transparent;
    font-size: 1.3rem;
    left: -1.7rem;
    padding-right: 2rem;
    padding-top: 0.4em;
    position: absolute;
    top: 0;
  }

  &:hover .heading-anchor {
    color: $c-grey-2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: $global-weight-bold;
}

.heading-anchor {
  h2 & {
    padding-top: 0.7em;
  }

  h4 & {
    padding-top: 0.2em;
  }
}

a {
  transition: color 0.2s ease;
  word-break: break-word;

  &:hover {
    color: darken($primary-color, 15%);
  }
}

table {
  border: 2px solid $medium-gray;
  margin-bottom: 1.5em;

  th {
    text-align: left;
  }

  td {
    font-size: 0.875rem; // 14
    vertical-align: top;
  }
}

ul,
ol {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  margin-after: 0;
  margin-before: 0;
  margin-bottom: 1.5em;
  padding-start: 0;

  ol {
    list-style-type: lower-alpha;

    ol {
      list-style-type: decimal;
    }
  }
}

.sequence-link {
  font-weight: $global-weight-bold;
  padding-bottom: 1rem;
  margin-top: 2rem;
}
